<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="edit me"> <!-- ADD ME -->
    <title>Projects | SpearsGoode.com</title>
    <link rel="shortcut icon" type="image/svg" href="/static/img/logo.svg">
    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    <link href="/static/font/Quicksand-Medium.ttf" type="font/ttf" rel="stylesheet">
    <link href="/static/font/Quicksand-Bold.ttf" type="font/ttf" rel="stylesheet">
    <link href="/static/font/Quicksand-Light.ttf" type="font/ttf" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow-lg" style="background-color: #3f0059;">
        <a class="navbar-brand" href="../">
          <div class="menuHome pr-md-auto d-flex align-items-center">
            <img class="menuLogo" src="/static/img/logo.svg" alt="Spears Goode Logo">
            <div class="spearsgoode">
              <h3 class="neonB">Spears</h3>
              <h3 class="neonR">Goode</h3>
            </div>
          </div>
        </a>

        <button class="navbar-toggler btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex flex-lg-row-reverse" id="navbarToggler">
          <div class="d-block" style="height: 0.1vh; background-color: #000; margin: 1vh 5vw 2.5vh 5vw;"></div>
          <ul class="navbar-nav text-center">
            <li class="nav-item active">
              <a class="nav-link" href="./">
                <h3>Projects</h3>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sgp/artwork">
                <h3>Artwork</h3>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sgp/contact">
                <h3>Contact</h3>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sgp/experience">
                <h3>Profile</h3>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="intro" style="padding: 0 3vw;">

      </div>

      <div class="content container">
        {% for project in projects.all %}
        <div class="container card text-white bg-dark shadow mb-3 px-1">
          <h3 class="text-center card-title mt-1">{{ project.title }}</h3>
          <span class="badge shadow-sm mx-3" style="background-color: #3f0059; color: #ccd9ff;">Completed {{ project.date }}</span>
          <img src="/static/{{ project.image }}" alt="project image" class="card-img-top img-fluid mt-2 shadow">
          <div class="card-body">
            <p class="lead">{{ project.info }}</p>
            <div class="btn-group d-flex align-items-center" role="group" aria-label="button group">
              <a class="btn btn-secondary" href="{{ project.link }}" target="_blank">Visit</a>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#abstractModal">Learn More</button>
            </div>
          </div>
        </div>

        <div class="modal fade" id="abstractModal" tabindex="-1" aria-labelledby="#abstractModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="abstractModalLabel">{{ project.title }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ project.etc }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <a class="btn btn-secondary" href="{{ project.link }}" target="_blank">Visit</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

    <footer>
      <p>&copy; SpearsGoode</p>
    </footer>

    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>